*{
    padding:0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    transition: all 0.5s ease ;
}
body{
    font-family: sans-serif;
    /* background-image: linear-gradient(to bottom right,rgb(241, 11, 187),rgb(93, 140, 184)); */
    background-color: rgb(169, 169, 219);
}
a{
    text-decoration: none;
}

.container{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;

}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
}
.theme-toggler{
    position:absolute;
    top:30px;
    right: 30px;
    color: aliceblue;
    cursor: pointer;
    z-index:1;
}

.theme-toggler.active{
    color:black;}
 .theme-toggler::before{
        content: "";
        height:30px;
        width:30px;
        position:absolute;
        top:50%;
        
        transform: translate(-50%,-50%);
        border-radius: 50%;
        background-color: black;
        z-index: -1;
    }
.theme-toggler.active::before{
    background-color: aliceblue;
}
#display{
    margin:0 10px;
    height : 150px;
    width:auto;
    max-width: 270px;
    display:flex;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 30px;
    margin-bottom: 20px;
    overflow-x: scroll;
    
    

    
} 
 #display::-webkit-scrollbar{
    display: block;
    height: 3px;
} 

button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 30px;
    margin: 5px;
    font-size:20px ;
    cursor: pointer;
    transition: all 300ms ease ;
}

button:hover{
    transform: scale(1.1);
}
button#equal{
    height:130px;
}



/* dark theme */  

.calculator.dark {
    background-color: black;
}
.calculator.dark #display{
    color: #f8fafb;
}

.calculator.dark button#clear{
    background-color: rgb(12, 12, 12);
    color: rgb(161, 53, 53);
}

 .calculator.dark button.btn-number{
    background-color:rgb(7, 58, 97);
    color: white;
}
.calculator.dark button.btn-operator{
    background-color:rgb(109, 17, 89);
    color:white;
}
.calculator.dark button.btn-equal{
    background-color:rgb(39, 64, 58);
    color:white;
} 

/* light theme */

.calculator{
    background-color:white ;
}

.calculator #display{
    color: #0a1e23;
}

.calculator button#clear{
    background-color: rgb(231, 173, 173);
    color: rgb(161, 53, 53);
}

.calculator button.btn-number{
    background-color:rgb(170, 199, 221);
    color:black;
}
.calculator button.btn-operator{
    background-color:pink;
    color:black;
}
.calculator button.btn-equal{
    background-color:rgb(153, 228, 211);
    color:black;
}

